{{extend 'layout.html'}}
<p>»{{=T("Ánanda Márga is a revolution. It is not only a spiritual revolution but also an economic, social and mental revolution.")}}«</p>
<p class="muted">– Shrii Shrii Anandamurti, "Ananda Marga: A Revolution", A Few Problems Solved Part 7</p>
<img id="main-page-image" class="center" src="{{=URL('static','images/samadhi.jpg')}}" alt="Samadhi - Absorption" style="border-radius:5px;" />
<p>
Ananda Marga is a comprehensive mode of living based on spirituality, Three Types of Occupation, Prout in a Nutshell Part 16
Ananda Marga keeps its gates open so that each and every man and woman may enter, The Spirit of Society, A Few Problems Solved Part 61
</p>

<h4><br/>The Path to Eternal Bliss</h4>
<p>
	{{=T("The social laws of Ánanda Márga not only make no distinction between one person and another, but encourage both sexes to share equal responsibility in life, in order to develop the idea of the oneness of all humanity. This society is radically different from any existing society, for it provides a society with a common bond where there is no distinction between class or sex, where no one is declared an outcast or punished without being given the chance for self-reform, and where no laws are framed keeping in view the interest of only a few individuals. In such a society no one is weak or downtrodden and no one is allowed to be exploited by others.")}}
</p>

<h4><br/>The Ánanda Márga Society</h4>
<p>
	{{=T("The social laws of Ánanda Márga not only make no distinction between one person and another, but encourage both sexes to share equal responsibility in life, in order to develop the idea of the oneness of all humanity. This society is radically different from any existing society, for it provides a society with a common bond where there is no distinction between class or sex, where no one is declared an outcast or punished without being given the chance for self-reform, and where no laws are framed keeping in view the interest of only a few individuals. In such a society no one is weak or downtrodden and no one is allowed to be exploited by others.")}}
</p>

http://eartheart.se/ee7/HTML/Discourses/Social_Psychology.html
http://eartheart.se/ee7/HTML/Discourses/Social_Discourses.html
http://eartheart.se/ee7/HTML/Discourses/Sadhana_s07.html

<p class="muted">
	The text on this page is quoted and summarized from discourses of Shrii Shrii Anandamurti, the founder of Ánanda Márga.<br />
	<br />
	Sources:<br />
	Ananda Marga: A Revolution, A Few Problems Solved Part 7<br />
</p>
