{{extend 'layout.html'}}
<p>»{{=T("When one gets diikśá [initiation] and does sádhaná, that unknown love becomes known.")}}«</p>
<p class="muted">– Shrii Shrii Anandamurti, The Supreme Cognition, Subháśita Saḿgraha Part 24</p>
<!--<img id="main-page-image" eclass="center" src="{{=URL('static','images/didi-anandadayashiila.jpg')}}" alt="Didi Anandadayashiila" style="border-radius:5px;" />-->

<p>
	<br />
	<br />
	{{=T("Contact us for any questions, or the latest class schedules. Free meditation instruction by appointment.")}}
</p>

<h4 class="center">
	<br/>
	<br/>
	<br/>
	<br/>
	Stockholm
</h4>
<div class="row">
	<div class="span4">
		<p style="position:relative;">
			<img id="main-page-image-2" src="{{=URL('static','images/dada-shantimaya-100x.jpg')}}" alt="Dada Shantimaya" style="float:left; margin-right:10px; border-radius:5px;" />
			Dada Shantimaya <a href="http://www.facebook.com/AnandaMargaYogaSweden?fref=ts" target="_blank"><img src="{{=URL('static','images/facebook-small-gif')}}" style="position:absolute; top:3px;"></a><br />
			<strong>072 - 333 06 30</strong><br />
			<strong>info <span data-prevent="%#¤#&%¤#">@</span> yogameditationsweden . org</strong><br />
			<a href="http://www.yogameditationsweden.org/" target="_blank">http://www.yogameditationsweden.org/</a>
			<a href="http://kartor.eniro.se/m/ndN7I" target="_blank">Östgötagatan 77</a>,
			T-Skanstull<br />
		</p>
	</div>
	<div class="span4">
		<p style="position:relative; text-align:right;">
			<img id="main-page-image-2" src="{{=URL('static','images/didi-ananda-dayashiila.jpg')}}" alt="Didi Ananda Dayashiila" style="float:right; margin-left:10px; border-radius:5px;" />
			Didi Ananda Dayashiila<br />
			<strong>076 - 262 70 31</strong><br />
			<strong>dayashiila&nbsp;<span data-prevent="%#¤#&%¤#">@</span>&nbsp;yahoo.com</strong><br />
			<a href="http://kartor.eniro.se/m/ndNpD" target="_blank">Götgatan 90</a>,
			T-Skanstull<br />
		</p>
	</div>
</div>

<h4 style="clear:both;"><br /><br />Ydrefors, Training Center</h4>
<p>
	<img src="{{=URL('static','images/ydrefors-training-center.jpg')}}" alt="Ydrefors Training Center" style="float:left; margin-right:10px; border-radius:5px;">
	<strong>0492 - 800 60</strong><br />
	<a href="http://cns-se.org/" target="_blank">http://www.cns-se.org/</a>
</p>

<h4 style="clear:both;"><br /><br/ >Webmaster</h4>
<p  style="position:relative;">
	<img src="{{=URL('static','images/ramanuja-100x.jpg')}}" alt="Ramanuja" style="float:left; margin-right:10px; border-radius:5px;">
	Ramanuja <a href="http://www.facebook.com/the.ribot" target="_blank"><img src="{{=URL('static','images/facebook-small-gif')}}" style="position:absolute; top:3px;"></a><br />
</p>
