{{extend 'layout.html'}}

<h1>Elasto Mania</h1>
<p>
Elasto Mania is a very unique game.
It has a <em>game play precision</em> and fine tuning which is beyond what is possible in most other games.
It is also very dynamic, where new tricks are found over time, year after year.
</p>

<p>
Behold this rec (replay) sequence. This powerful combination of moves is not pre-programmed into the game, such as L+L+R+R+A+A+B. No, to make a moves like these, one needs pure skill, such a skill that takes a lot of practice.
</p>

<small>Riders Spef, Zero, Nekit, Madness, FANTomck's, Bjenn and Zweq illustrate the power of this game.</small><br>
<iframe width="560" height="315" src="//www.youtube.com/embed/GMomMezjJG0" frameborder="0" allowfullscreen style="max-width:100%; max-height:100%;"></iframe>

<p>
In the video are some examples of how elastic, and acrobatic the bike is. Combined with a world of vector based levels (tracks), this calls for a very broad possibility of play, to the point where computer generated levels feel like new, and new concepts of levels keep being invented.
</p>