{{extend 'layout.html'}}
<p>»{{=T("The one who leads a spiritual aspirant from the darkness of ignorance to the effulgence of spiritual realization is the Guru. In this sense Brahma alone can qualify as the Guru of the spiritual aspirant.")}}«</p>
<p class="muted">– Shrii Shrii Anandamurti, The Influence of Máyá on the Human Mind, Tattva Kaomudii Part 2</p>
<img id="main-page-image" class="center" src="{{=URL('static','images/samadhi.jpg')}}" alt="Samadhi - Absorption" style="border-radius:5px;" />
<p>
	{{=T("Meditation is thinking with concentration. Ánanda Márga strongly emphasizes to meditate on the Universal Consciousness-Energy. The idea is that the Universal Consciousness and the Universal Energy are the source of everything, and therefore everything is an expression of That. The name of this Universal Consciousness-Energy is Brahma.")}}
</p>

<h4><br/>{{="Meditation is for All"}}</h4>
<p>
	{{=T("Ánanda Márga teaches meditation for free to anyone who wants to learn, in the whole world. The teacher is called an ácárya/á (pronounced acharya), who has undergone a special training, and can supply the learner with a personal mantra, and the techniques of meditation. You are welcome to contact Ánanda Márga to get in touch with an ácárya/á.")}}
</p>

<h4><br/>Sádhaná</h4>
<p>
	{{=T("Intuitional practice, or spiritual meditation, is called sádhaná in Sanskrit. Sádhaná is not only sitting meditation, but also includes human conduct, and contemplating the idea of everything being Consciousness-Energy in everyday life. Sádhaná is the core of Ánanda Márga.")}}
	<br />
	»{{=T("The effort to transform the unit identity into the Macrocosmic “I” is called sádhaná.")}}«<br />
	»{{=T("The goal of sádhaná is the all-round elevation of human beings.")}}«<br />
</p>

<h4><br />Mantra</h4>
<p>
	{{=T("A mantra is a word which one repeats during meditation to free all the fetters of mental and physical life. A proper mantra must have two meanings: It must be meaningful in the ordinary sense that the word has a meaning, and at the same time it must be supported by the proper acoustic root. The acoustic root is the sound an action creates, for example the vibration ha-ha-ha is the acoustic root of laughing. In other words, a mantra does not only have a liberating meaning, but it also is the sound (or vibration) of the liberating meaning.")}}
</p>

<h4><br />Kiirtana</h4>
<iframe width="300" height="225" src="http://www.youtube.com/embed/Qyb2CUjlDPQ" frameborder="0" allowfullscreen style="float:right; margin-left:10px; border:1px solid; border-radius:4px;"></iframe>
<p>
	{{=T("Kiirtana is a kind of devotional singing, and means to sing the Supreme Consciousnesses glory in a loud voice. When people do kiirtana out of deep love, a highly powerful spiritual vibration is created. Those who do kiirtana feel that vibration in their minds, hearts, and everywhere. They become virtually intoxicated with unbounded bliss. That bliss is attainable only by a person of devotion.")}}
</p>
<p>
	{{=T("In Ánanda Márga, when we sing kiirtan, we sing the mantra")}} <strong>“Bábá Nám Kevalam”</strong>, {{=T("which means “I am taking the name of that Singular Entity”, the Singular entity being the Universal Consciousness-Energy. This is a universal mantra, which anyone can use, both in kiirtana and meditation.")}}
</p>

<h4 id="dharmacakra"><br/>Dharmacakra</h4>
<p>
	{{=T("Dharmacakra is our group meditation that we do once a week. If you are initiated into Ánanda Márga you are welcome to join us. Contact us for more information.")}}
</p>

<p class="muted">
	<br />
	<br />
	The text on this page is quoted and summarized from discourses of Shrii Shrii Anandamurti, the founder of Ánanda Márga.<br />
	<br />
	Sources:<br />
	The Supreme Question, Subháśita Saḿgraha Part 6<br />
	Mantra and Incantatioń, Ánanda Vacanámrtam Part 5<br />
	Prańava, Ánanda Vacanámrtam Part 34<br />
	How Should a Devotee Behave?, Ánanda Vacanámrtam Part 7<br />
	Yoga and Tantra, Subháśita Saḿgraha Part 13<br />
	One Should Know Everything, Ánanda Vacanámrtam Part 12<br />
</p>
