{{extend 'layout.html'}}
<p>»{{=T("That golden day is sure to come when that perfect stage of structure, that is, unit existence in the intra-atomic world, will be reached, when human intuition will realize that the essence in the sub-atomic world is pure Consciousness.")}}«</p>
<p class="muted">– Shrii Shrii Anandamurti, The Status of Inanimation in the Philosophy of Neohumanism, A Few Problems Solved Part 5</p>
<img id="main-page-image" class="center" src="{{=URL('static','images/neohumanism.gif')}}" alt="Neohumanism" style="border-radius:5px;" />
<p>
	»{{=T("Neohumanism is newly-explained humanism. “Humanism” and “humanity” have been very popular words for the last century, but only human beings have come within the scope of humanism and humanity. This explanation [of the concept] is not sufficient – it cannot quench the thirst of the developing human society. Why should the love and affection of developed human minds be restricted to human beings only? Why should it not include all living beings, including plant life? This is the new explanation of humanism – Neohumanism – for within Neohumanism the entire animate world is included.")}}«
</p>

<h4><br/>A Practical Approach</h4>
<p>
	»{{=T("As a general rule human beings should not kill animals under any circumstances. The exception to this rule is when human life is in danger. For example, if you are confronted by a tiger which threatens your life, before it attacks you may be forced to kill it. Similarly, if lions, snakes, elephants, etc. enter your locality, then as a last resort they may have to be killed to ensure human safety.  But animals should only be killed when they directly endanger human life. It follows from this that you should not kill animals in their natural habitat. In the forests there are many lions, tigers, snakes, etc., but such creatures should not be killed in their natural environment because there they pose no threat to human life.")}}«
</p>

<h4><br/>{{="The Inanimate World"}}</h4>
<p>
	{{=T("Neohumanism also ensures the proper guarantee, treatment and utilization of the inanimate world. We should not destroy the mountains and hills, otherwise the rainfall will be affected. Repeated detonation of atomic bombs create huge craters and large underground caverns in the crust of the earth. They devastate the ecological balance of the environment. Protecting the inanimate world includes to conserve and properly utilize all natural resources.")}}
</p>

<p class="muted">
	<br />
	<br />
	The text on this page is quoted and summarized from discourses of Shrii Shrii Anandamurti, the founder of Ánanda Márga.<br />
	<br />
	Sources:<br />
	The Status of Inanimation in the Philosophy of Neohumanism, A Few Problems Solved Part 5<br />
	Prout and Neohumanism, Prout in a Nutshell Part 17<br />
</p>
