{{extend 'layout.html'}}
<p>»{{=T("While rendering service to the entire society, you will have to move ahead because on the one hand you will be blessed by society, and on the other you will take inspiration from it enabling you to march ahead with much more speed.")}}«</p>
<p class="muted">– Shrii Shrii Anandamurti, The Significance of Service, Ánanda Vacanámrtam Part 22</p>
<img id="main-page-image" class="center" src="{{=URL('static','images/human-love.jpg')}}" alt="Human Love" style="border-radius:5px;" />
<p>
	{{=T("Ánanda Márga propagates to do as much service as one can. Doing service purifies and inspires the mind, and helps others' well-being both individually and collectively.")}}
	{{=T("Service can be of many kinds, such as medical aid, protecting and helping the weak, relief work, feeding the poor, and teaching. Literature and art also can and should be made with the spirit of service – to convey happiness and universality by touching people's hearts. Service can also be done to animals and plants, and even mountains and seas – by protecting nature.")}}
	<br />
	<br />
	{{=T("Service is to give when there is no desire to get anything in return. So in service there is only giving and no question of taking. Service is to be done with love. In the absence of love any service or penance is for show and is therefore fruitless.")}}
	<br />
	<br />
	{{=T("In the spiritual sense, all service should have the intention to serve the Universal Soul, or the Supreme Self. This is called devotion, or bhakti, which purifies the mind, and liberates one from the consequences of one's actions. Therefore service is indispensable for a spiritual aspirant in order to attain the ultimate goal of Yoga. In other words, seclusion in a cave will not do.")}}
	
	<br />
	<br />
	»{{=T("Everyone should render service to the world in accordance with their capacity and work for the welfare of the living beings to the best of their ability.")}}«<br />
	»{{=T("To purify one’s mind, one is to render selfless service to human society, and without practising meditation, one cannot render selfless service to the society")}}«<br />
	»{{=T("It is your dharma to move from narrowness to vastness, from greatness to divinity.")}}«<br />
</p>

<h4><br/>{{=T("Relief Work")}}</h4>
<p>
	{{=T("Ánanda Márga's affiliated relief branch")}}
	<a href="http://www.amurt.org" target="_blank">AMURT</a> (Ánanda Márga Universal Relief Team), {{=T("operates disaster relief operations and development projects to help those in need.")}}
	{{=T("Its sister organization,")}} <a href="http://www.amurtel.org" target="_blank">AMURTEL</a> (Ananda Marga Universal Relief Team Ladies), primarily focuses on the needs of women and children who typically suffer the brunt of calamities and poverty.
</p>

<p class="muted">
	<br />
	<br />
	The text on this page is quoted and summarized from discourses of Shrii Shrii Anandamurti, the founder of Ánanda Márga.<br />
	<br />
	Sources:<br />
	The Practice of Art and Literature, A Few Problems Solved Part 1<br />
	The Three Factors for Spiritual Elevation, Ánanda Vacanámrtam Part 1<br />
	Yajiṋa and Karmaphala, Subháśita Saḿgraha Part 1<br />
	Unit Spirit and Cosmic Spirit, Subháśita Saḿgraha Part 21<br />
	<br />
	Other sources:<br />
	<a href="http://www.anandamarga.org/service/amurt-disaster-relief.htm" target="_blank">anandamarga.org</A>
</p>
