{{extend 'layout.html'}}
<p>»{{=T("Yoga has become a very popular word throughout the world. We should know what Yoga is or rather, what the spirit of Yoga is. (...) Some people think that Yoga means a particular exercise, No, no, no: Yoga does not mean exercise. Yoga means unification. It is the Supreme definition of Yoga.")}}«</p>
<p class="muted">– Shrii Shrii Anandamurti, What is Yoga, Ánanda Vacanámrtam Part 14</p>
<img id="main-page-image" class="center" src="{{=URL('static','images/cosmic-mind.jpg')}}" alt="Samadhi - Absorption" style="border-radius:5px;" />
<p>{{=T("Human existence, or human expressions are physical, mental, and spiritual. There must be Yoga, or rather Yoga-oriented movement, in all these three spheres, to keep the balance of human life.")}}</p>

<h4><br />Karma Yoga</h4>
<p>
	{{=T("Suppose, there is a drop of water in an ocean. When the drop feels its unity with the ocean, the drop no longer remains as a drop, it becomes the ocean. But when it feels its separation from the ocean, it is nothing but a drop of water.")}}
	{{=T("So, when a human being feels his/her unity with the Cosmic Consciousness, or the Supreme Soul (Paramátman), and feels that he/she is not an ordinary person, but the blessed child of the Supreme Soul, then he/she is no longer an ordinary person. He/she acquires immense power, immense vitality, infinite vitality and this is our Yoga in the physical sphere. This we do with the help of our Guru Mantra. It is called Karma Yoga in Sanskrit.")}}</p>

<h4><br/>Jiṋána Yoga</h4>
<p>
	{{=T("In the mental (or psychic) sphere, human mind is a projection of Cosmic mind. When one withdraws all the propensities of the mind and goads those collectively withdrawn propensities unto the Supreme Soul, it is Yoga in the mental sphere. It is called Jiṋána Yoga in Sanskrit.")}}
</p>
<h4><br/>Bhakti Yoga</h4>
<p>
	{{=T("Yoga in the spiritual sphere is unification of the unit entity with the Cosmic Entity. You are losing the name of your little “I” and nothing else and in return you are getting the Supreme “I”, the big “I”.")}}
</p>
<p>»{{=T("“Saḿyoga Yoga Ityukto Jiivátmá Paramátmanah”. The unification of Jiivátman with Paramátman is termed Yoga. What is Paramátman and Jiivátman? The moon in the sky is like Paramátman and its reflection in the pond is Jiivátman. How to unify Jiivátman with Paramátman? When the moon in the sky reaches the moon in the pond then there is oneness between the two. The reflection of Paramátman on unit mind is Jiivátman. When the mind reaches Paramátman both Jiivátman and Paramátman become one.")}}«</p>
<p class="muted">
	<br />
	<br />
	{{=T('The text on this page is quoted and summarized from discourses of Shrii Shrii Anandamurti, the founder of Ánanda Márga.')}}<br />
	<br />
	Sources:<br />
	What is Yoga, Ánanda Vacanámrtam Part 14<br />
	Yoga and Bhakti, Subháśita Saḿgraha Part 18<br />
</p>
