{{extend 'layout.html'}}
<p>»{{=T("While rendering service to the entire society, you will have to move ahead because on the one hand you will be blessed by society, and on the other you will take inspiration from it enabling you to march ahead with much more speed.")}}«</p>
<p class="muted">– Shrii Shrii Anandamurti, The Significance of Service, Ánanda Vacanámrtam Part 22</p>
<img id="main-page-image" class="center" src="{{=URL('static','images/samadhi.jpg')}}" alt="Samadhi - Absorption" style="border-radius:5px;" />
<p>
	{{=T("")}}
</p>

<h4><br/>{{=T("")}}</h4>
<p>
	{{=T("")}}
</p>

<p class="muted">
	<br />
	<br />
	The text on this page is quoted and summarized from discourses of Shrii Shrii Anandamurti, the founder of Ánanda Márga.<br />
	<br />
	Sources:<br />
	The Supreme Question, Subháśita Saḿgraha Part 6<br />
</p>
